html {
  height: 100%;
}

body {
  height: 100%;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  font-family: $font-text;

  background-color: $c-bg;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 420px;
  height: 100%;
  min-height: 555px;
  margin: 0 auto;

  text-align: center;

  @media screen and (max-width: 420px) {
    padding-left: 1.5 * $bu;
    padding-right: 1.5 * $bu;
    display: block;
  }

  @media screen and (max-height: 568px) {
    display: block;
  }

}

.avatar-wrapper {
  padding-top: 1.5 * $bu;
  height: 75px;
  line-height: 1;
}

.avatar {
  border-radius: 9px;
}

.about-wrapper {
  margin: 1.2 * $bu 0 0 0;
}

.name {
  margin: 0 auto 1.2 * $bu auto;
  text-align: center;

  font-family: $font-headline;
  font-size: 36px;
  font-weight: normal;
  line-height: 43.2px;
  color: $c-headline;

  text-align: center;
}

.about {
  margin: 0;

  font-family: $font-text;
  font-size: 18px;
  font-weight: normal;
  color: $c-text;
  line-height: 23.4px;

  text-align: center;

  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 16.8px;
  }
}

.links-wrapper {
  margin: $bu 0 0 0;
  padding-bottom: 1.5 * $bu;

  @media screen and (max-height: 568px) {
    padding-bottom: 0;
  }
}

.links {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.link-item {
  padding: $bu / 8 $bu / 2;
}

.link {
  position: relative;
  display: inline-block;
  border: 0;

  font-family: $font-alt;
  font-weight: normal !important;
  font-size: 28px;
  line-height: 33.6px;
  color: $c-link;

  text-decoration: none;

  &:after {
    content: '';
    display: block;
    width: 97%;
    height: 1px;
    position: absolute;
    left: 1.5%;
    bottom: 2px;
    opacity: 0;

    border-bottom: 1px dashed $c-link;

    transition: opacity 0.6s ease-out;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

